# OS
.DS_Store

# Dependencies
node_modules/
.pnp.*
.yarn/*

# Env / secrets
.env
.env.*
!.env.example

# Build output
dist/
build/
.next/
out/
.turbo/
coverage/
next-env.d.ts
*.tsbuildinfo

# Expo / native
.expo/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.idea/
*.swp
